.post-view,
.post-view__article {
  padding: 0rem 2rem 6rem 2rem;
  overflow-x: hidden;
}
article.post-view__article .article__content h1,
article.post-view__article .article__content h2,
article.post-view__article .article__content h3,
article.post-view__article .article__content h4,
article.post-view__article .article__content h5,
article.post-view__article .article__content h6,
article.post-view__article .article__content p {
  margin: 1em 0;
}
article.post-view__article .article__content small {
  font-size: 1rem;
}
article.post-view__article .article__content a {
  box-shadow: inset 0 -0.1em 0 $color-black-2;
  transition: all 0.3s cubic-bezier(0.71, 0, 0, 0.99);
  text-decoration: none;
}
article.post-view__article .article__content a:hover {
  box-shadow: inset 0 -0.8em 0 $color-main;
}
article.post-view__article .article__content blockquote {
  border-left: 2px solid $color-black-2;
  padding: 0em 2rem;
}
article.post-view__article .article__content .gutter {
  width: 3em;
  text-align: center;
  background: #f8f8f8;
  border-right: 1px solid $color-light-gray !important;
}
article.post-view__article .article__content code.hljs {
  width: 100%;
  overflow-x: scroll;
  max-width: 80rem;
  padding: 0.5em 1em;
  margin: 1em 0;
}
article.post-view__article .article__content table code.hljs {
  margin: 0;
}
article.post-view__article .article__content code:not(.hljs) {
  color: $color-black-2;
  font-weight: bold;
  border: 1px solid $color-main;
  background: $color-white;
  box-shadow: 0.2em 0.2em 0 0 $color-main;
  padding: 0.1em 0.4em;
  margin: 0 0.4em;
  vertical-align: bottom;
}
article.post-view__article .article__content ul,
article.post-view__article .article__content ol {
  padding-left: 2em;
}
article.post-view__article .article__content ul li,
article.post-view__article .article__content ol li {
  padding: 0.2em 0;
}
article.post-view__article .article__content img {
  width: auto;
  max-width: 100%;
  margin: 2rem 0;
}
article.post-view__article .article__content .highlight table {
  width: 100%;
  border: none;
  table-layout: fixed;
  overflow: auto;
}
article.post-view__article .article__content .highlight table border,
article.post-view__article .article__content .highlight table th,
article.post-view__article .article__content .highlight table td {
  border: none;
  padding: 0;
}
article.post-view__article .article__content table {
  margin: 2rem 0;
  border-spacing: 0;
  border-collapse: collapse;
  border-top: 2px $color-black-2 solid;
  border-bottom: 2px $color-black-2 solid;
}
article.post-view__article .article__content table th,
article.post-view__article .article__content table td {
  border: 1px $color-light-gray solid;
  padding: 0.3em 1em;
}
article.post-view__article .article__content table th {
  border-bottom: 2px $color-black-2 solid;
}
article.post-view__article .article__content table td:last-child,
article.post-view__article .article__content table th:last-child {
  border-right: none;
}
article.post-view__article .article__content table td:first-child,
article.post-view__article .article__content table th:first-child {
  border-left: none;
}
article.post-view__article .article__content .mjx-chtml {
  font-size: $font-size-s-2;
}
@media screen and (max-width: $M) {
  .post-view__article {
    padding: 0rem 1rem 6rem 1rem;
  }
  .post-view__article .article__content .mjx-chtml {
    font-size: $font-size-s-1;
  }
}
@media screen and (max-width: $S) {
  article.post-view__article .article__content .mjx-chtml {
    font-size: $font-size-s-0;
  }
}
